backend:
  name: github
  repo: NickG83/blatbastards  # <-- change this
  branch: main                             # or 'master' if that's your branch
  base_url: "https://test.blatbastards.com"
  auth_endpoint: "api/auth"

media_folder: "static/uploads"   # where uploaded files live in the repo
public_folder: "/uploads"        # how those files are referenced in the site

collections:
  - name: "pages"
    label: "Pages"
    label_singular: "Page"
    folder: "content"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    extension: "md"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
