{{/* Used by baseof.html inside <head> – no <head> tags here */}}

{{/* Browser tab title: Blat Bastards | Page Title */}}
<title>
  {{- if .IsHome -}}
    {{ .Site.Title }} | Home
  {{- else if .Title -}}
    {{ .Site.Title }} | {{ .Title }}
  {{- else -}}
    {{ .Site.Title }}
  {{- end -}}
</title>

{{/* Keep hooks for any custom CSS/JS you configure in [params] */}}
{{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
{{ end }}

{{ range .Site.Params.custom_js }}
  <script src="{{ . | relURL }}"></script>
{{ end }}

{{ if .Site.Config.Services.GoogleAnalytics.ID }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}
